{% extends "base.html" %}
{% block name %}
	<ul>
        <li class='l1' id='home'><a class='alignmnt' href='users/ edit-profile'>{{user}}</a></li>
        <li class='l1' id='home'><a class='alignmnt' href='users/logout'>logout</a></li>
         <li class='l1' id='home'><a class='alignmnt' href='product/add'>add product</a></li>
    </ul>
{% endblock %}
{% block content %}
	<div class='container'>
		<div class='row'>
			<div class='col-md-12'>
				<div class='maincontent'>
				sdfghjkgtijk
				</div>
			</div>
		</div>
	</div>
{% endblock %}